name: orbit
description: Aplicación móvil de telefonía satelital Orbit.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  # Controladores de formularios
  flutter_hooks: ^0.18.6
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/background_space.jpg
    - assets/images/logo_orbit.jpg
